@model KendoTest.Models.TBLGiangVien
@using Kendo.Mvc;
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using KendoTest.Models;

@{
    var thuctap = Model;
    ViewBag.Title = "Home Page";
    string action = "LoadList";
    string controllerName = "GiangVien";
}
<script>
    function filter() {
        return {
            param: {
                MaGV: $("#MaGV").val(),
                HoTen: $("#HoTen").val(),
                Luong: $("#Luong").val(),
                TenKhoa: $("#Tenkhoa").val(),
                MaKhoa: $("#Makhoa").val(),
            }
        }
    }
</script>


<main>
    <div class="row mt-1 mb-1 ">
        <div class="col">
            <h5>
                Danh sách giảng viên
            </h5>
            <div class="float-lg-end">
                @Html.ActionLink("Thêm", "CreateGV", "GiangVien", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-3">
            <div class="form-label">
                <label>Họ tên</label>
                @Html.TextBox("HoTen", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-3">
            <div class="form-label">
                <label>Lương</label>
                @Html.TextBox("Luong", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-3">
            <div class="form-label">
                <label>Khoa</label>
                @Html.DropDownListFor(x => x.Makhoa, ViewBag.ListKhoa as SelectList, "Chọn mã khoa", new { @class = "form-control" })
            </div>
        </div>
        <p>
            <input id="btnSearch" type="submit" value="Tìm kiếm" class="btn btn-danger" />
        </p>
    </div>
    @(Html.Kendo().Grid<KendoTest.ViewModel.GiangVienViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Magv).Title("Mã").Width("70px").HtmlAttributes(new { style = "text-align: center" });
        columns.Bound(x => x.Hotengv).Title("Họ tên");
        columns.Bound(x => x.Luong).Format("{0:#,###}").Title("Lương");
        columns.Bound(x => x.Tenkhoa).Title("Tên khoa");
        columns.Bound(x => x.Magv)
       .Title("")
       .ClientTemplate("<a class='btn btn-primary' href='" + Url.Action("EditGV", "GiangVien") + "?maGV=#=Magv#'" + ">Sửa</a> | <a class='btn btn-primary' href='" + Url.Action("DeleteGV", "GiangVien") + "?maGV=#=Magv#'" + ">Xóa</a>").HtmlAttributes(new { style = "text-align: center" });

    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action(action, controllerName).Data("filter")))
    .Pageable()
    .Scrollable(scroll => scroll.Height("auto"))
    .Sortable().Selectable()
    )
</main>
<script>
    $("#btnSearch").click(function () {
        var grid = $("#grid").data('kendoGrid');
        grid.dataSource.read()
    })
</script>
