@model KendoTest.Models.TBLHuongDan
@using Kendo.Mvc;
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@{
    ViewBag.Title = "CreateSv";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lst = ViewBag.ListKhoa;
    var ListSV = ViewBag.ListSV;
    var ListGV = ViewBag.ListGV;
    var ListDT = ViewBag.ListDT;
    string action = "LoadListSv";
    string controllerName = "Home";

    string checkbox = "<input type='checkbox' class='checkbox-select' value='#=Masv#' />";

}
<script>
    function filter() {
        return {
            param: {
                HoTen: $("#hoTenSinhVien").val(),
                MaSinhVien: $("#MaSinhVien").val(),
            }
        }
    }
</script>
<style>
    .k-multiselect-wrap > .k-i-close {
        display: none !important;
    }
</style>

<div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
    <div class="k-w-300">
            <div class="row">             
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Đề tài</label>
                    </div>
                    @Html.DropDownListFor(x => x.Madt, (IEnumerable<SelectListItem>)ViewBag.ListDT, "Chọn đề tài", new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Giảng viên</label>
                    </div>
                    @Html.DropDownListFor(x => x.Magv, (IEnumerable<SelectListItem>)ViewBag.ListGV, "Chọn giảng viên", new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    <div class="form-label">
                        <label>Kết quả</label>
                    </div>
                    @Html.TextBoxFor(x => x.KetQua, new { @class = "form-control" })
                </div>

            </div>

            <br />
    </div>
</div>

<div class="row">
    <div class="form-group col-3">
        <div class="form-label">
            <label>Tên sinh viên</label>
            @Html.TextBox("hoTenSinhVien", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-3">
        <div class="form-label">
            <label>Mã sinh viên</label>
            @Html.TextBox("MaSinhVien", null, new { @class = "form-control" })
        </div>
    </div>

    <p> <input id="btnSearch" type="submit" value="Tìm kiếm" class="btn btn-danger" /> </p>
    <p> <input id="btnSave" type="submit" value="Lưu" class="btn btn-danger" /></p>
    @(Html.Kendo().Grid<KendoTest.ViewModel.SinhVienViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(sv => sv.Masv).Title("Mã").Width("70px").HtmlAttributes(new { style = "text-align: center" });
                    columns.Bound(sv => sv.Hotensv).Title("Họ tên");
                    columns.Bound(sv => sv.Namsinh).Width("100px").Title("Năm sinh").HtmlAttributes(new { style = "text-align: center" });
                    columns.Bound(sv => sv.Quequan).Width("160px").Title("Quê quán");
                    columns.Bound(sv => sv.Tenkhoa).Width("250px").Title("Khoa");
                    columns.Bound(sv => sv.Masv).Title("<input type='checkbox' id='checkAll' />").Width(40).Sortable(false).ClientTemplate(checkbox);
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action(action, controllerName).Data("filter")))
                .HtmlAttributes(new { style = "height: 550px;" })
                .Pageable(pageable => pageable
                    .Input(true)
                    .Numeric(false)
                )
                .AllowCopy(true)
                .Scrollable(scroll => scroll.Height("auto"))
                .Sortable().Selectable().Resizable(r => r.Columns(true))
                )
</div>


<script>
    //search
    $("#btnSearch").click(function () {
        var grid = $("#grid").data('kendoGrid');
        grid.dataSource.read()
    })

    ////popup
    //function onClose() {
    //    $("#select-sinhvien").show();
    //}

    $(document).ready(function () {
        //$("#select-sinhvien").bind("click", function () {
        //    $("#window").data("kendoWindow").open();
        //});

    });

    //multiple select
    $('#checkAll').change(function () {
        $('.checkbox-select').prop('checked', this.checked);
    });

    $('.checkbox-select').change(function () {
        if ($('.checkbox-select:checked').length == $('.checkbox-select').length) {
            $('#checkAll').prop('checked', true);
        }
        else {
            $('#checkAll').prop('checked', false);
        }
    });

    //luu

    $("#btnSave").on("click", function () {
        var id = [];
        $(".checkbox-select:checked").each(function (index, elem) {
            if ($(elem).prop('checked') == true) {
                id.push(parseInt(elem.value))
            }
        });
        var MaDT = $('#Madt').val();
        var MaGV = $('#Magv').val();
        var KetQua = $('#KetQua').val();
        $.ajax({
            url: "/HuongDan/CreateHD",
            type: "POST",
            data: {
                model: {
                    MaDT: MaDT,
                    MaGV: MaGV,
                    MaSV: id,
                    KetQua: KetQua,
                }
             
            },
            success: function (data) {

            }
        })
        //close popup
        $("#window").data("kendoWindow").close();
    });

</script>

<style>
</style>