<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="/Scripts/kendo/2016.3.1118/jquery.min.js"></script>
    <link href="/Content/kendo/2016.3.1118/kendo.common.min.css" rel="stylesheet" />
    <link href="/Content/kendo/2016.3.1118/kendo.cms.min.css" rel="stylesheet" />
    <script src="/Scripts/kendo/2016.3.1118/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/2016.3.1118/kendo.timezones.min.js"></script>
    <script src="/Scripts/kendo/2016.3.1118/kendo.aspnetmvc.min.js"></script>
    <script src="/Scripts/kendo/2016.3.1118/cultures/kendo.culture.vi-VN.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color: #070670">
        <div class="container">
            @Html.ActionLink("Kendo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sinh Viên", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Khoa", "Index", "Khoa", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đề tài", "Index", "Detai", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giảng viên", "Index", "GiangVien", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Hướng dẫn", "Index", "HuongDan", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
