@model KendoTest.Models.TBLSinhVien
@{
    var Sv = Model;
    ViewBag.Title = "EditSv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
    <div class="k-w-300">
        @*@using (Html.BeginForm("EditSv", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Masv)
                @Html.TextBoxFor(x => x.Hotensv)
                @Html.TextBoxFor(x => x.Namsinh)
                @Html.TextBoxFor(x => x.Quequan)
                @Html.TextBoxFor(x => x.Makhoa)
                <button type="submit">luu</button>
            }*@

        @Html.HiddenFor(x => x.Masv)
        <div class="row">
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Họ tên</label>
                </div>
                @Html.TextBoxFor(x => x.Hotensv, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Năm sinh</label>
                </div>
                @Html.TextBoxFor(x => x.Namsinh, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Quê quán</label>
                </div>
                @Html.TextBoxFor(x => x.Quequan, new { @class = "form-control" })
            </div>
            <div class="form-group col-3">
                <div class="form-label">
                    <label>Mã khoa</label>
                </div>
                @Html.DropDownListFor(x => x.Makhoa, (IEnumerable<SelectListItem>)ViewBag.ListKhoa, "Chọn mã khoa", new { @class = "btn btn-primary" })
            </div>
        </div>
        <br />
        <button type="submit" id="submit" class="btn btn-primary">Lưu</button>
    </div>
</div>
<script>
    $("#submit").click(function () {
        var Id = $('#Masv').val();
        var Hoten = $('#Hotensv').val().trim();
        var Address = $('#Namsinh').val().trim();
        var Location = $('#Quequan').val().trim();
        var MaKhoa = $('#Makhoa').val().trim();
        debugger;

        $.ajax({
            type: "POST",
            url: "/Home/EditSv",
            data: {
                Masv: Id,
                Hotensv: Hoten,
                Namsinh: Address,
                Makhoa: MaKhoa,
                Quequan: Location
            },
            success: function (response) {
                if (response != null) {
                    console.log('ok')
                    location.href = "/Home/Index"
                } else {
                    console.log('sth wrong ')
                }
            },
        });
    });</script>

